{% extends 'base.html' %}
{% block content %}

<h2>Experience Details</h2>


<div class="col s6">
  <div class="card">
    <div class="card-content">
      <p>Expenses: {{ experience.expenses }}$</p>
      <p>Description: {{ experience.description }}</p>
    </div>
    
    <div class="card-action">
      <a href="{% url 'experience-update' experience.id %}">Update</a>
      <a href="{% url 'experience-delete' experience.id %}">Delete</a>
    </div>
  </div>
</div>


<div class="clo s6">
  <form action="{% url 'add_feeding' experience.id %}" method="POST">
    {% csrf_token %}
    {{ feeding_form.as_p }}
    <input type="submit" class="btn" value="Add Feeding">
  </form>
  <table class="striped">
    <thead>
      <tr><th>Date</th><th>Transportation</th></tr>
    </thead>
    <tbody>
      {% for feeding in experience.feeding_set.all %}
        <tr>
            <td>{{ feeding.date }}</td>
            <td>{{ feeding.get_transportation_display }}</td>
            
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

  <script>

    const dateEl = document.getElementById('id_date')
    // M is materialize global variable
    M.Datepicker.init(dateEl, {
       format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    })

    // We are, again, using JavaScript here to fix up the selector tool for transportation

    const selectEl = document.getElementById('id_transportation')
    M.FormSelect.init(selectEl)

  </script>
{% endblock %}
