{% extends 'base.html' %}
{% block content %}

<h1>Experience Details</h1>

<div class="row">
<div class="col s6">
  <div class="card">
    <div class="card-content">
      <p>Expenses: {{ experience.expenses }}$</p>
      <p>Description: {{ experience.description }}</p>
    </div>
    
    <div class="card-action">
      <a href="{% url 'experience-update' experience.id %}">Update</a>
      <a href="{% url 'experience-delete' experience.id %}">Delete</a>
    </div>
  </div>
</div>

<div class="clo s6">
  <table class="striped">
    <thead>
      <tr><th>Date</th><th>Transportation</th></tr>
    </thead>
    <tbody>
      {% for feeding in experience.feeding_set.all %}
        <tr>
            <td>{{ feeding.date }}</td>
            <td>{{ feeding.get_transportation_display }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
</div>


{% endblock %}
